@import "../../assets/styles/variables";

.card {
  position: relative;
  margin: 20px 0;

  .card-background {
    height: 150px;
    width: 330px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      right: 15px;
      top: -10px;
    }

    &.light-orange{
        background-color: $light-orange;
    }
    &.soft-blue{
        background-color: $soft-blue;
    }
    &.light-red{
        background-color: $light-red;
    }
    &.lime-green{
        background-color: $lime-green;
    }
    &.violet{
        background-color: $violet;
    }
    &.soft-orange{
        background-color: $soft-orange;
    }
  }

  .card-content {
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 76%;
    display: flex;
    background-color: #1c1f4a;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    padding: 0px;
    justify-content: flex-start;

    .title-container {
      display: flex;
      padding: 25px 20px 0;
      justify-content: space-between;

      h3 {
        font-weight: 500;
        margin: 0;
        color: #fff;
      }
    }
    .timer-container {
      display: flex;
      padding: 6px 20px;
      justify-content: space-between;
      align-items: center;

      h1 {
        margin: 0;
        font-size: 32px;
        color: white;
        font-weight: 300;
      }

      p {
        margin: 0;
        font-size: 15px;

        color: #bdc1ff;
      }
    }
  }
}
