@import 'assets/styles/variables';

body{
    font-family: $font-family;
    background-color: $very-dark-blue;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

h2,h5{
    margin: 0;
}